layout python python3
watch_file requirements.txt

source .credentials

REQSUM=".direnv/requirements.checksum"
if [ ! -f "${REQSUM}" ] || ! shasum --algorithm 256 --check --status "${REQSUM}"; then
	echo "updating python modules"
	pip install --requirement requirements.txt
	shasum --algorithm 256 requirements.txt > "${REQSUM}"
fi
